/* Projects.scss */
.fullPageSection {
  height: 100vh;
}


.portfolio {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    background-color: white;
    font-size: 36px;
    z-index: 3; /* Ensure progress bar is above other content */
    width: 100%; /* Ensure progress bar spans the entire width */
    margin-top: 20px; /* Add margin to create a fixed distance between the carousel and progress bar */

    .progressBar {
      height: 10px;
      background-color: #fec415;
      width: 100%; /* Ensure progress bar spans the entire width */
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px; /* Add margin to create a fixed distance between the carousel and progress bar */

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      position: relative; /* Ensure wrapper creates a new stacking context */

      .imageContainer {
        flex: 1;
        height: 50%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        h2 {
          font-size: 72px;
        }

        p {
          color: gray;
          font-size: 20px;
        }

        button {
          background-color: orange;
          border: none;
          border-radius: 10px;
          padding: 10px;
          width: 200px;
          cursor: pointer;
        }
      }
    }
  }
}
