/* For Webkit browsers (Chrome, Safari) */
body {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
    width: 12px; /* Set width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #F6D776; 
    border-radius: 6px; /* Rounded corners of the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the track */
  }
  
  /* For Firefox */
  /* Note: Firefox uses a different syntax for scrollbar styling */
  /* You may need to include vendor prefixes for cross-browser compatibility */
  
  /* Example Firefox scrollbar styling */
  /* Uncomment and customize as needed */
  /*
  * {
    scrollbar-width: thin;
    scrollbar-color: #555 #f1f1f1;
  }
  */
  
  /* For Internet Explorer */
  /* Note: Internet Explorer does not support custom scrollbar styling */
  
  