.App {
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
  width: 99.5vw;
  overflow-x: hidden;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #555; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

/* Style the scrollbar track when the thumb is being hovered */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
