@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

/* NAVIGATION CSS */

.enactus-navbar {  
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  background-color: inherit;
  width: 100%;
  justify-content: center;
  text-align: center;
  z-index: 12;
  height: 10%;
  margin-top: -1vh;
}

.enactus-navbar-options {

  /* font-size: 1.35vw;
  font-weight: 700;
  letter-spacing: 0.05rem; */
  position: relative; 
}
.enactus-navbar-options::after {
  content: "";
  position: absolute;
  width: 0;
  top: 4vh;
  height: 4px;
  background-color: #FEC415; 
  cursor: pointer;
  bottom: 0; 
  left: 0;
  transition: width 0.3s; 
}
.enactus-navbar-options:hover::after {
  width: 100%;
}
.enactus-navbar li {
  list-style: none;
}




/* PROJECTS PAGE CSS */

.enactus-heading{
  
  z-index: 40;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
  
}

.homepage-fade-in-animation{
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.home-container{
  /* background: radial-gradient(circle at 3.1% 8.2%, rgb(248, 250, 107) 0%, rgb(238, 148, 148) 98.2%); */
  background-color: black;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
  position: relative;

}
.home-content{
  justify-content: center;
  width: 100%;
  line-height: 5vh;
}
video{
  object-fit: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0,0,0,0.2)
}


/* ROOT CSS */
*{
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center; 
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
 
}
.container{
  
  height: 100%;
  width: 100%;
}
.breeze{
  height: 100%;
  width: 100%;
}

.navigation-bar{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-self: center;
}

@media (min-width: 285px) and (max-width: 640px) {
  .enactus-heading{
    font-size: 4rem;
    line-height: 4rem;
  }
  .second-hero{
    font-size: 1.5rem;
    line-height: 2rem;
  }

@media (max-width:767px) {
  .cat{
    display: none;
  }  
}

@media (min-width:767px) {
  .cat{
    display: flex;
    align-items: center;
  }
  
}
 

}

.cookie:hover .project-card * {
  color: black !important;
  z-index: 30!important;
}



@media (max-width:220px) {
  .enactus-heading{
    font-size: 2rem;
  }
  .second-hero{
    font-size: 1.5rem;
    line-height:1.5rem;
  }
  
}

@media (max-width:385px) {
  .second-subheading {
    font-size: 0.75rem;
  }
  
}


@media (max-width: 865px) {
  .meow{
    display: none;
  }
}

@media (max-width:768px) {
  .overflow-list{
    overflow-y: scroll;
    height: 10vh;
    
  }  
}

@media(min-width:865px){
  .meow{
    display: flex;
    flex-direction: row;
  }
  .accordion{
    display:none;
  }

}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

